@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
  font-family: squadaone;
  src: url('./assets/fonts/rowdies.ttf');
}

.bg
{
  height: 100vh;
  background-color: #CAC7BD;
  /*background-position: 75% 25%;*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body
{
  height: 100%;
  scroll-behavior:smooth;
}

body
{
  margin: 0;
  overflow-y: scroll;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track
{
  background: #cac7bd;
}

::-webkit-scrollbar-thumb
{
  background: #5a5959;
}

.navbar-items
{
  animation: height-anim 500ms linear;
}

.navbar-hide
{
  animation: height-anim-rev 500ms linear;
}

.rotate-cross
{
  animation: rt90 500ms linear;
}

.rotate-ham
{
  animation: rt180 500ms linear;
}

a, button
{
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 768px)
{
  .nav-item
  {
    display: inline-block;
    position: relative;
  }

  .nav-item:after
  {
    content: ' ';
    display: block;
    margin: auto;
    margin-top:3px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 500ms ease, background-color 500ms ease;
  }

  .nav-item-clicked:after
  {
    content: ' ';
    display: block;
    margin: auto;
    margin-top:3px;
    height: 2px;
    width: 100%;
    background: #c1c7bd;
  }

  .nav-item:hover:after
  {
    width: 100%;
    background: #c1c7bd;
  }
}

.change-opacity
{
  animation: opacityChanger 10ms linear;
}

.change-color
{
  animation: colorChange 2000ms ease infinite;
}

@keyframes height-anim
{
  0%
  {
    height: 0;
  }

  100%{
    height: 40vh;
  }
}

@keyframes height-anim-rev
{
  0%
  {
    height: 40vh;
  }

  100%{
    height: 0;
  }
}

@keyframes rt90
{
  from
  {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-90deg);
  }
}

@keyframes rt180
{
  from
  {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}

@keyframes opacityChanger
{
  0%
  {
    display: none;
    opacity: 0;
  }
  25%
  {
    display: none;
    opacity: 0;
  }
  50%
  {
    display: none;
    opacity: 0;
  }
  75%
  {
    display: none;
    opacity: 0;
  }

  83%
  {
    display: none;
    opacity: 0%;
  }
  
  100%
  {
    display: block;
    opacity: 100%;
  }
}

@keyframes colorChange
{
  0%
  {
    background-color: #5a5959
  }

  50%
  {
    background-color: #5a5959cc;
  }

  100%
  {
    background-color: #5a5959;
  }
}

.expand-reduce
{
  animation: expand-reduce 1s linear infinite;
}

@keyframes expand-reduce
{
  0% {transform: translateY(0px)}
  50% {transform: translateY(5px)}
  100% {transform: translateY(0px)}
}